# Pandas Exercises
---

## Part 1 - Getting to know your data

With this series of exercises, we're going to use pandas to create a dataframe and get to know it with a few pandas techniques. This is by no means an exhaustive example, but it will provide some useful ways to get acquainted with a dataset. We're going to use a dataset with Chipotle orders because it's relatively small and it provides a good variety of things to look at (and because I love Chipotle :) )

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from chipotle.tsv and assign it to a variable called chip

TSV stands for 'tab separated values' it works just like a CSV. You should use '\t' as your delimeter when reading it into a pandas dataframe.

### Step 3. View the first 10 entries of the dataframe

### Step 4. Print the number of observations in the dataframe

Note: you can do this in a few different ways.

### Step 5. Print the number of columns in the dataframe

### Step 6. Print the names of all of the columns in the dataframe

### Step 7. Figure out how the dataset is indexed

### Step 8. Find the most commonly ordered item in the dataset

### Step 9. Find out how many items were ordered in *total*

### Step 10. Find out how many *different types* of items are sold

### Step 11. Turn the values in the price column into floats

### Step 12. Find the revenue for the period in the dataset

### Step 13. Find out how many orders were made in the period

### Step 14. Find the average price of each order